@font-face {
  font-family: 'PressStart2P';
  src: url('./fonts/PressStart2P-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: 
    url('./fonts/Inter-Variable.woff2') format('woff2-variations');
  font-weight: 400 785;
  font-style: normal;
  font-display: swap;
}
