:root {
  --main-font:
    "Inter-Variable", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --accent-font:
    "PressStart2P", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
  --text-weight: 410;
  --title-weight: 715;
  --container-width: clamp(375px, 100%, 700px);
  --header-padding-top: clamp(120px, 32vw, 150px);
  --white-box-padding: 20px;
  --stroke-color: #fff;
  --accent-color: #000;
  --button-text-color: #fff;
  --grid-gradient:
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --heart-main: #ff0000;
  --heart-hover: #ff0000;
  --contour-color: #000;
  --animation-fill-color: rgb(255 0 0);
}
